<% if task.errors.any? %>
  <ul>
    <% task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: task, local: true) do |f| %>
  <div>
    <%= f.label t("task.title") %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label t("task.content") %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.label t("task.start_at") %>
    <%= f.date_field :start_at %>
  </div>

  <div>
    <%= f.label t("task.end_at") %>
    <%= f.date_field :end_at %>
  </div>

  <div>
    <%= f.label t("task.priority") %>
    <%= f.text_field :priority %>
  </div>

  <div>
    <%= f.label t("task.status") %>
    <%= f.text_field :status %>
  </div>

  <%= f.submit t(:send) %>
<% end %>
