<h1 id="tasks_title"><%= link_to "Tasks", tasks_path %></h1>

<%= link_to t("task.new"), new_task_path, class: "btn btn-outline-primary" %>

<%= search_form_for @q do |f| %>
  <div class="row">
    <div class="col-5">
      <% f.label :title_cont, t("task.title") %>
      <%= f.search_field :title_cont, placeholder: t("task.title"), class: "form-control" %>
    </div>

    <div class="col-5">
      <%= f.select :status_eq,
        t("task.status_option").map(&:reverse),
        {
          selected: "",
          disabled: "",
          prompt: t("task.select_status")
        },
        { class: "form-control" }
      %>
    </div>

    <div class="col-2">
      <%= f.submit t(:search), class: "btn btn-outline-primary" %>
    </div>
  </div>
<% end %>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("task.title") %></th>
      <th><%= t("task.start_at") %></th>
      <th class="end_at"><%= sort_link(@q, :end_at, t("task.end_at"), default_order: :asc) %></th>
      <th class="priority"><%= sort_link(@q, :priority, t("task.priority"), default_order: :desc) %></th>
      <th><%= t("task.status") %></th>
      <th>#</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task-title"><%= task.title %></td>
        <td><%= task.start_at.strftime("%Y/%m/%d") if task.start_at %></td>
        <td><%= task.end_at.strftime("%Y/%m/%d") if task.end_at %></td>
        <td><%= t("task.priority_option")[task.priority] %></td>
        <td><%= t("task.status_option")[task.status] %></td>
        <td>
          <%= link_to "Show", task, class: "btn btn-outline-primary" %>
          <%= link_to "Edit", edit_task_path(task), class: "btn btn-outline-primary" %>
          <%= link_to "Destroy", task, method: :delete, data: { confirm: t("task.confirm_delete") }, class: "btn btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>

<%#
<template id="task-template">
  <tr>
    <td class="title">title</td>
    <td class="start_at">start_at</td>
    <td class="end_at">end_at</td>
    <td class="priority">priority</td>
    <td class="status">status</td>
    <td>
      <a class="show" href="">Show</a>
      <a class="edit" href="">Edit</a>
      <a class="delete" href="" data-method="delete" data-confirm="Are you sure?">Destroy</a>
    </td>
  </tr>
</template> %>
