<h1><%= @task.title %></h1>

<ul>
  <li><%= "#{t("task.content")} : #{@task.content}" %></li>
  <li><%= "#{t("task.start_at")} : #{@task.start_at}" %></li>
  <li><%= "#{t("task.end_at")} : #{@task.end_at}" %></li>
  <li><%= "#{t("task.priority")} : #{t("task.priority_option")[@task.priority]}" %></li>
  <li><%= "#{t("task.status")} : #{t("task.status_option")[@task.status]}" %></li>
  <li><%= "#{t(:tag)} : #{@task.tag_list}" %></li>
</ul>

<%= link_to "回首頁", root_path %>
