<% if user.errors.any? %>
  <ul>
    <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: user, url: url, local: true, class: "col-sm-6 mt-5 mx-auto") do |f| %>
  <div class="form-group">
    <%= f.label t("user.email"), class: "d-block text-center" %>
    <%= f.text_field :email, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t("user.password"), class: "d-block text-center" %>
    <%= f.password_field :password, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t("user.password_confirmation"), class: "d-block text-center" %>
    <%= f.password_field :password_confirmation, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t("user.role"), class: "d-block text-center" %>

    <%= f.select :role,
        t("user.role_option"), {}, class: "form-control"
    %>
  </div>

  <%= f.submit t(:send), class: "btn btn-primary m-auto d-block" %>
<% end %>
