<h1>users index</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>E-mail</th>
      <th>Role</th>
      <th>#</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td <%= 'style=color:red' if user.role == "admin" %>><%= user.role %></td>

        <td>
          <%= link_to "Show", admin_user_path(user), class: "btn btn-outline-primary" %>
          <%= link_to "Edit", edit_admin_user_path(user), class: "btn btn-outline-primary" %>
          <%= link_to "Destroy", admin_user_path(user), method: :delete, data: { confirm: t("task.confirm_delete") }, class: "btn btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
