<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag do %>
      I18n.locale = "<%= I18n.locale %>";
      I18n.translations = <%= raw I18n::JS.filtered_translations.to_json %>;;
    <% end %>
  </head>

  <body>
    <% if notice %>
      <%= notice %>
    <% elsif alert %>
      <%= alert %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
